<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= @post.errors.count %> errors prohibited this object from being saved:</h4>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h1 class="text-center">Edit Post</h1>

      <%= form_with model: @post, local: true, class: "mt-4" do |f| %>
        <div class="form-group">
          <h4>Picture</h4>
          <%= f.file_field :image, accept: "image/*", class: "form-control" %>
        </div>
        
        <div class="form-group">
          <h4>Genre</h4>
          <%= f.label :genre_id, class: "form-label" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "---"}, {class: "form-control"} %>
        </div>
        
        <div class="form-group">
          <h4>Title</h4>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <h4>Caption</h4>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="form-group text-center mt-3">
          <%= f.submit 'Save', class: "btn btn-success btn-block" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= link_to "Show", post_path(@post), class: "btn btn-primary btn-block" %>
        <%= link_to "Back", posts_path, class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</div>