<h1>All Posts</h1>
<% @post.each do |post| %>
  <div>
    <p><%= link_to post_path(post) do %>
      <%= image_tag post.get_image %>
    <% end %></p>
    
    <p>User name：<%= post.user.name %></p>
    
    <p><%= post.genre.name if post.genre.present? %></p>
    
    <% if post.genre %>
    <p>Genre: <%= post.genre.name %></p>
    <% else %>
      <p>Genre: No genre assigned</p> 
    <% end %>
    
    <p>Title：<%= post.title %></p>
    <p>Caption：<%= post.body %></p>
    
    <!--以下、レビュー評価-->
        <td><div id="star-rate<%= post.id%>"> </td>
          <script>
            $('#star-rate<%= post.id %>').empty();
            $('#star-rate<%= post.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= post.star %>,
            });
          </script>
          </div>    
    
    <p><%= link_to "#{post.post_comments.count} Comment", post_path(post.id) %></p>
  </div>
<% end %>