  <div>
  <%= flash[:notice] %>
  </div>

  <div>
    <p>User name：<%= @post.user.name %></p>
    <%= image_tag @post.user.get_profile_image(100, 100) %>
    <% if @post.genre %>
    <p>Genre: <%= @post.genre.name %></p>
    <% else %>
      <p>Genre: No genre assigned</p> 
    <% end %>
    
    <p>Title: <%= @post.title %></p>
    <p>Caption: <%= @post.body %></p>
    <p><%= image_tag @post.get_image %></p>
    <p>Post date：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
    
    <% if @post.user == current_user %>
       <%= link_to "Edit", edit_post_path(@post), class: "btn-sm btn-success" %>
       <%= link_to "Delete", post_path(@post), method: :delete, class: "btn-sm btn-danger" %>
    <% end %>
    
　  <%= link_to "Back", posts_path(@post), class: "btn-sm btn-primary" %>
　  <!--以下、レビュー評価-->
　  
　           <td>
            <div id="star-rate<%= @post.id%>"></td>
             <script>
              $('#star-rate<%= @post.id %>').empty();
              $('#star-rate<%= @post.id%>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= @post.star %>,
               });
             </script>
          </td>
  </div>　  
    <!--以下　コメント-->
    <div>
      <p>comments：<%= @post.post_comments.count %></p>
      <% @post.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% end %>
    </div>
    <div>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "Comment Here" %>
        <%= f.submit "Post" %>
      <% end %>
    </div>    
        
    
</div>
