<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item text-center"><strong>User:</strong> <%= @post.user.name %></li>
        <li class="list-group-item text-center">
          <%= link_to user_path(@post.user.id) do %>
            <%= image_tag @post.user.get_profile_image(100, 100) %>
          <% end %>
        </li>
        <li class="list-group-item text-center">
          <strong>Genre:</strong>
          <% if @post.genre %>
            <%= @post.genre.name %>
          <% else %>
            No genre assigned
          <% end %>
        </li>
        <li class="list-group-item text-center"><strong>Title:</strong> <%= @post.title %></li>
        <li class="list-group-item text-center"><strong>Caption:</strong> <%= @post.body %></li>
        <li class="list-group-item text-center"><%= image_tag @post.get_image, class: "img-fluid"%></li>
        <li class="list-group-item text-center"><strong>Post Date:</strong> <%= @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d') %></li>
      </ul>
      <div class="form-group row justify-content-center mt-3">
        <% if @post.user == current_user %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success btn-block" %>
          <%= link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger btn-block" %>
        <% end %>
      </div>




      <!--投稿に対するコメントレビュー評価-->
      <h3 class="text-center mt-4">Reviews</h3>
      <div>
        <p class="text-center">comments: <%= @post.post_comments.count %></p>
          <% @post_comments.each do |post_comment| %>
            <ul class="list-group mb-3">
              <li class="list-group-item text-center">
                <% if post_comment.score.present? && post_comment.score < -0.1 %>
                  <p class="text-danger fw-bold">
                    *Detected Inappropriate Comments.*
                  </p>
                <% end %>
              </li>
              <li class="list-group-item text-center"><%= image_tag post_comment.user.get_profile_image(100,100) %></li>
              <li class="list-group-item text-center"><%= post_comment.user.name %></li>
              <li class="list-group-item text-center"><%= post_comment.created_at.strftime('%Y/%m/%d') %></li>
              <li class="list-group-item text-center"><%= post_comment.comment %></li>
              <li class="list-group-item text-center">
                <div id="star-rate-<%= post_comment.id %>"></div>
                <script>
                  $('#star-rate-<%= post_comment.id %>').empty();
                  $('#star-rate-<%= post_comment.id %>').raty({
                    size: 36,
                    starOff: '<%= asset_path('star-off.png') %>',
                    starOn: '<%= asset_path('star-on.png') %>',
                    half: false,
                    readOnly: true,
                    score: <%= post_comment.star %>,
                  });
                </script>
              </li>
            </ul>
              <% if post_comment.user == current_user %>
                <div class="form-group row justify-content-center">
                  <%= link_to "Edit", edit_post_post_comment_path(@post, post_comment), class: "btn btn-success btn-block" %>
                  <%= link_to "Delete", post_post_comment_path(@post, post_comment), method: :delete, class: "btn btn-danger btn-block" %>
                </div>
              <% end %>
        <% end %>
      </div>
      <!--以下 コメント投稿-->
      <h3 class="text-center mt-4">Post reviews</h3>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <div class="form-group row justify-content-center" id="star">
            <%= f.label :star, 'Rate', class: 'col-md-3 col-form-label text-center' %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.text_area :comment, rows: '5', placeholder: "Comment Here", class: "form-control" %>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.submit "Post", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <div class="form-group row justify-content-center">
          <%= link_to "Back", posts_path(@post), class: "btn btn-secondary btn-block" %>
        </div>
      </div>

      <script>
        $('#star').empty();
        $('#star').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          scoreName: 'post_comment[star]',
          half: false,
        });
      </script>
    </div>
  </div>
</div>