<% if @post.errors.any? %>
    <h3><%= @post.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<h1>Edit Post</h1>

<%= form_with model: @post do |f| %>

  <h4>Picture</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>Genre</h4>
  <%= f.text_field :genre %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Caption</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'save' %>
  
<% end %>