<h1>All Posts</h1>
<% @post.each do |post| %>
  <div>
    <p><%= link_to post_path(post) do %>
      <%= image_tag post.get_image %>
    <% end %></p>
    <p>User name：<%= post.user.name %></p>
    <p><%= post.genre.name if post.genre.present? %></p>
    <p>Title：<%= post.title %></p>
    
    <% if post.genre %>
    <p>Genre: <%= post.genre.name %></p>
    <% else %>
      <p>Genre: No genre assigned</p> 
    <% end %>
    
    <p>Caption：<%= post.body %></p>
  </div>
<% end %>