<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
       <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= @user.errors.count %> errors prohibited this object from being saved:</h4>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <h2 class="text-center">Profile Edit</h2>
      <%= form_with model: @user do |f| %>
        <table class="table table-bordered">
          <tr>
            <th><label for="inputName">Name</label></th>
            <td><%= f.text_field :name, autofocus: true, id: "inputName", class: "form-control", placeholder: "Name" %></td>
          </tr>
          <tr>
            <th><label for="inputImage">Profile Image</label></th>
            <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control" %></td>
          </tr>
        </table>
        
        <%= f.submit "Save", class: "btn btn-success btn-block mt-3" %>
      <% end %>

      <div class="text-center mt-3">
        <%= link_to "Back", user_path(@user), class: "btn btn-primary btn-block" %>
        <div class="my-3"></div> 
        <%= link_to 'Delete My Account', withdraw_user_path(@user), method: :patch, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure you want to delete your account?" } %>
      </div>
    </div>
  </div>
</div>