<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if current_user == @user %>
      <h2 class="text-center">My Page</h2>
      <% end %>
      <div class="text-center">
        <div class="d-flex align-items-center justify-content-center mb-3">
          <h3 class="mb-0 mr-3"><%= @user.name %></h3>
          <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle" %>
        </div>

        <table class="table table-bordered">
          <tr>
            <th class="text-center">Following</th>
            <td class="text-center"><%= link_to @user.followings.count, user_followings_path(@user) %></td>
          </tr>
          <tr>
            <th class="text-center">Followers</th>
            <td class="text-center"><%= link_to @user.followers.count, user_followers_path(@user) %></td>
          </tr>
        </table>

        <% if current_user != @user %>
          <div><%= render "public/relationships/btn", user: @user, options: { class: "" } %></div>
        <% else %>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block my-2" do %>
            <i class="fas fa-user-cog"></i> Edit Profile
          <% end %>
          <%= link_to user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn btn-outline-secondary btn-block my-2" do %>
            <i class="fa-solid fa-user-slash"></i> Delete Account
          <% end %>
        <% end %>
      </div>

      <h2 class="text-center mt-5">Posts</h2>

      <% @posts.each do |post| %>
        <div class="card my-3">
          <div class="card-body text-center">
            <p><%= link_to post_path(post) do %>
              <%= image_tag post.get_image, class: "img-fluid" %>
            <% end %></p>
            <p><strong>Genre:</strong>
              <% if post.genre %>
                <%= post.genre.name %>
              <% else %>
                No genre assigned
              <% end %>
            </p>
            <p><strong>Title:</strong> <%= post.title %></p>
            <p><strong>Caption:</strong> <%= post.body %></p>
            <p><%= link_to "#{post.post_comments.count} Comment", post_path(post.id) %></p>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <%= link_to "Back", posts_path(@post), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>